<!DOCTYPE HTML>

<html>
	
	
	<head>
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>{% block title %}Who's the ugliest!{% endblock %}</title>
		
	</head>
    
    <body>
  	    <nav role="navigation" class="navbar navbar-inverse">
  	    
	        <div class="navbar-header">
			    
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				    <span class="icon-bar">
				    </span> 
				    <span class="icon-bar">
				    </span> 
				    <span class="icon-bar">
				    </span>
			    </button>
			  			    
		    </div>
		    
		    <div class="collapse navbar-collapse">
		    
			    <ul class="nav navbar-nav">
				    <li id="home">  
				        <a href="{{ path('perso_ugliest_homepage' ) }}">Home</a>
				    </li>
				    <li id="list">
                        <a href="{{ path('perso_ugliest_list' ) }}">List</a>
				    </li>
				    <li id="compare">
				        <a href="{{ path('perso_ugliest_compare' ) }}">Compare</a>
				    </li>
				    <li id="create">
				        <a href="{{ path('perso_ugliest_create' ) }}">Create</a>
				    </li>
			    </ul>
			    
		    </div>
	    </nav><!--/.nav-collapse -->  	
  	
  	
      	<div class="container">
          	<!--corps -->
            {% block body %}
            
            {% endblock %}
            <!--/corps -->
        </div>
   
   
        
        <br />
        <br />
        <br />
        
    
    
        <footer class="bs-docs-footer" role="contentinfo">
        
            <div class="container">
                
                <div class="col-lg-5 col-lg-offset-4 col-md-offset-3 col-sm-offset-2 col-xs-offset-1 btn-demo center">
                   <a href="https://plus.google.com/+MaximeBourdel09/posts">  
                        <button class="btn btn-md btn-googleplus">
                            <i class="fa fa-google-plus"> Google+</i>
                        </button>
                    </a>
                     
                    <a href="https://www.facebook.com/maxime.bourdel">  
                        <button class="btn btn-md btn-facebook">
                            <i class="fa fa-facebook"> Facebook</i>
                        </button>
                    </a>
                     
                    <a href="https://www.linkedin.com/profile/view?id=342130999&trk=nav_responsive_tab_profile_pic">  
                        <button class="btn btn-md btn-linkedin">
                            <i class="fa fa-linkedin"> Linked In</i> 
                        </button> 
                    </a> 
                     
                    <a href=" https://github.com/maximebourdel">  
                        <button class="btn btn-md btn-github">
                            <i class="fa fa-github-square"> Github</i>
                        </button>
                    </a> 
                </div>
            
                <div class="col-lg-12 col-md-12  col-sm-12   col-xs-12 btn-demo">
                    <p class="text-center">© Maxime Bourdel 2014 Tous droits réservés </p>
                </div>
                
            </div>
            
        </footer>
   
   
   
       
        {% stylesheets filter='cssrewrite,?yui_css' '@MopaBootstrapBundle/Resources/bootstrap/dist/css/*'%}
    		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    	{% endstylesheets %}
    	
    	<link href="../../app/Resources/views/css/brand-buttons.min.css"   rel="stylesheet">
    	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    	
    	
    	<script src="//code.jquery.com/jquery-1.9.1.js"></script>
    	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    	
        {% javascripts '@MopaBootstrapBundle/Resources/bootstrap/dist/js/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    
        {% javascripts '@MopaBootstrapBundle/Resources/bootstrap/docs/assets/css/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
            
        {% javascripts '@MopaBootstrapBundle/Resources/bootstrap/docs/assets/css/src/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    
    	{% javascripts '@MopaBootstrapBundle/Resources/bootstrap/js/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        {% javascripts '@MopaBootstrapBundle/Resources/bootstrap/js/tests/unit/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        <link href="../../app/Resources/views/css/carousel.css" rel="stylesheet">
        	
        <!--javascript -->
    	{% block javascripts %}
    	
    	{% endblock %}
        <!--/javascript -->

    </body>
    
</html>

            



 

          
