{% extends "::layout.html.twig" %} 

{% block body %}
    <h2>
      Select the ugliest face
    </h2>
    
    {% for person in list_versus %}
        
        <a  href="{{ path('perso_ugliest_compare', {'id': person.id}) }}">
            <div class="col-lg-5"
                 style="border-radius: 6px; border: 1px solid #AAA; background-color: #CCC; line-height: 40px; text-align: center; padding-top: 8px;"d   
                 onclick="$( this ).fadeOut();"
            >
                {% if person.photo is not null %}
                    <img style="max-width: 250px;"
        				src="{{ asset(person.photo.webPath) }}"
          				alt="{{ person.photo.alt }}"
          				class="img-circle"
        			/> 
                {% endif %} 
                <br />
                {{ person.surname }} {{ person.name }}
            </div>
        </a> 
        
        {% if not loop.last %}
            <div class="col-lg-2">
                
            </div>
        {% endif %}
        
    {% endfor %}

{% endblock %}


{% block javascripts %}
    <script>  
        $('#compare').addClass('active')
    </script>
{% endblock %}
